<h1><%= @store.name %></h1>

<ul>
  <p>Online Only: <%= @store.online_only %></p>
  <p>Instruments in Stock: <%= @instruments.count %>
  <p>Max Inventory: <%= @store.max_inventory %></p>
  <p>Customer Rating: <%= @store.customer_rating %>/5</p>
</ul>