<h1><%= @store.name %></h1>
<ul>
  <li>Online Only: <%= @store.online_only %></li>
  <li>Instruments in Stock: <%= @instruments.count %></li>
  <li>Max Inventory: <%= @store.max_inventory %></li>
  <li>Customer Rating: <%= @store.customer_rating %>/5</li>
</ul>
<p><a href="/stores/#{@store.id}/instruments">Instruments for Sale</a></p>