<h1>Instruments at <%= @store.name %></h1>
Home > Stores > Instruments

<% @instruments.each do |instrument| %>
  <h3><%= instrument.name %></h3>
  <ul>
    <li>Used: <%= instrument.used %></li>
    <li>Needs Repair: <%= instrument.needs_repair %></li>
    <li>Price: $<%= instrument.price %></li>
  </ul>
<% end %>
<%= link_to "Alpha Sort", "/stores/#{@store.id}/instruments?alpha_sort=true" %>
<%= link_to "Create Instrument", "/stores/#{@store.id}/instruments/new" %>

<%= form_with url: "/stores/#{@store.id}/instruments?filter_price=true", method: :get, local: true do |form| %>
  Only show instruments priced higher than: 
  <%= form.label :minimum_price %>
  <%= form.number_field :minimum_price %>
  <%= form.submit "Filter Results" %><br>
<% end %>