<h1>Create Instrument for <%= @store.name %></h1>

<%= form_with url: "/stores/#{@store.id}/instruments", method: :post, local: true do |form| %>
  <%= form.label :name  %><br>
  <%= form.text_field :name %><br>
  <%= form.label :used %><br>
  <%= form.text_field :used %><br>
  <%= form.label :needs_repair %><br>
  <%= form.text_field :needs_repair %><br>
  <%= form.label :price %><br>
  <%= form.text_field :price %><br>
  <%= form.submit "Create Instrument" %><br>
<% end %>