<h1>Instruments List</h1>
<p>Home > Instruments</p>

<% @instruments.each do |instrument| %>
  <b><%= instrument.name %></b>
  <ul>
    <li>Used: <%= instrument.used %></li>
    <li>Needs Repair: <%= instrument.needs_repair %></li>
    <li>Price: $<%= instrument.price %></li>
  </ul>
  <p>
    <%= link_to "Edit Instrument", "/instruments/#{instrument.id}/edit" %><br>
    <%= link_to "Delete Instrument", "/instruments/#{instrument.id}", method: :delete %>
  </p>
<% end %>