<h1><%= @instrument.name %></h1>

<ul>
  <li>Used: <%= @instrument.used %></li>
  <li>Needs Repair: <%= @instrument.needs_repair %></li>
  <li>Price: $<%= @instrument.price %></li>
  <li><%= link_to "Update Instrument", "/instruments/#{@instrument.id}/edit" %></li>
  <li><%= link_to "Delete Instrument", "/instruments/#{@instrument.id}/", method: :delete %></li>
</ul>