<h1><%= @instrument.name %></h1>

<ul>
  <li>Used: <%= @instrument.used %></li>
  <li>Needs Repair: <%= @instrument.needs_repair %></li>
  <li>Price: $<%= @instrument.price %></li>
</ul>
<p>
  <%= link_to "Update Instrument", "/instruments/#{@instrument.id}/edit" %><br>
  <%= link_to "Delete Instrument", "/instruments/#{@instrument.id}/", method: :delete %>
</p>